<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <%- include('../partials/gmap') %>  

    <div class="container mb-3">

      <nav aria-label="breadcrumb"> <!-- 1 -->
        <ol class="breadcrumb p-1 pl-2 pr-2">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/posts">Board</a></li>
          <li class="breadcrumb-item active" aria-current="page">New Post</li>
        </ol>
      </nav>

      <form action="/posts" method="post">

        <div class="form-group">
          <label for="title" style="font-weight:bold">Title</label>
          <input type="text" id="title" name="title" value="<%= post.title %>" class="form-control <%= (errors.title)?'is-invalid':'' %>">
          <% if(errors.title){ %>
            <span class="invalid-feedback"><%= errors.title.message %></span>
          <% } %>
        </div>
        
        <div class="form-group">
          <label for="address" style="font-weight:bold">Address</label>
          <input type="text" id="address" name="address" value="<%= post.address %>" class="form-control <%= (errors.address)?'is-invalid':'' %>">
          <% if(errors.address){ %>
            <span class="invalid-feedback"><%= errors.address.message %></span>
          <% } %>
        </div>

        <div class="form-group">
          <label for="body" style="font-weight:bold">Content</label>
          <textarea id="body" name="body" rows="5" class="form-control <%= (errors.body)?'is-invalid':''%>"><%= post.body %></textarea>
            <% if(errors.body){ %>
              <span class="invalid-feedback"><%= errors.body.message %></span>
            <% } %>
        </div>

        <% if(errors.unhandled){ %>
          <div class="invalid-feedback b-block">
            <%= errors.unhandled %>
          </div>
        <% } %>
        
        <div style="float:right">
          <a class="btn btn-outline-secondary" href="/posts">Back</a>
          <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>

      </form>
    </div>
  
  </body>
</html>